<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.azim.opensource254.covidkenya">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.CountiesStats"></activity>
        <activity android:name=".activities.FirebaseChat.UsersActivity" />
        <activity android:name=".activities.FirebaseChat.RegisterActivity" />
        <activity android:name=".activities.FirebaseChat.LoginActivity" />
        <activity android:name=".activities.FirebaseChat.ChatActivity" />
        <activity android:name=".activities.SymptomActivity" />
        <activity android:name=".activities.HealthUnitsActivity" />
        <activity android:name=".activities.TipsDetails" />
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/AppTheme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.NewsActivity"
            android:label="news" />
        <activity android:name=".activities.TipsActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>